.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clicakble {
  cursor: pointer;
}
body{
  background-color:black;
  background-image: url("http://localhost:3000/bg.jpg");
  margin-left: 0;
  margin-right: 0;
}
.th:hover{
  filter: brightness(50%);
}

.pagination{
  justify-content: center;
}
.pagination > li > a
{
    background-color: #212529;
    color: #9b9d9e;
}
.flexCenter {
  display:flex;
  justify-content: center;
}
.imgt{
  opacity:0;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext {
  padding: 0rem 0.75rem;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
  height: calc(2.5rem + 2px);
  line-height: 1;
}

.form-floating>label {
  padding: 0.5rem 0.75rem;
}